  <section id="add" class="container">
    <div class="form-wrap">
      <h1>Add an Item</h1>
      <form action="/foods" method="POST">
        <div class="input-group">
          <label for="">Item</label>
          <input type="text" name="item" id="item" class="input-box" placeholder="What are you selling?"
            maxlength="100" value={{item}}>
        </div>
        <div class="input-group">
          <label for="location">Location</label>
          <input type="text" name="location" id="location" class="input-box" placeholder="Where are you?"
          maxlength="100" value={{location}}>
        </div>
        <div class="input-group">
          <label for="price">Price</label>
          <input type="number" name="price" id="price" class="input-box" placeholder="$$$" value={{price}}>
        </div>
        <div class="input-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" class="input-box" placeholder="Tell us about what you are selling"
            rows="10">{{description}}</textarea>
        </div>
        <div class="input-group">
          <label for="price">Contact Email</label>
          <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter an email" value={{contact_email}}>
        </div>
        <input type="submit" value="Add Item" class="btn btn-reverse">
      </form>
    </div>
  </section>